stages:
  - build
  - test
  - deploy
  - review
  - dast
  - staging
  - canary
  - production
  - incremental rollout 10%
  - incremental rollout 25%
  - incremental rollout 50%
  - incremental rollout 100%
  - performance
  - cleanup

install_deps:
  stage: build
  image: python:3.10.12-slim
  script:
    - poetry install
  rules:
    - if: $CI_PIPELINE_SOURCE == 'merge_request_event' && $CI_COMMIT_BRANCH != $CI_DEFAULT_BRANCH
      when: always

# You can override the included template(s) by including variable overrides
#  - SAST customization: https://docs.gitlab.com/ee/user/application_security/sast/#customizing-the-sast-settings
#  - Secret Detection customization: https://docs.gitlab.com/ee/user/application_security/secret_detection/#customizing-settings
#  - Dependency Scanning customization: https://docs.gitlab.com/ee/user/application_security/dependency_scanning/#customizing-the-dependency-scanning-settings
#  - Container Scanning customization: https://docs.gitlab.com/ee/user/application_security/container_scanning/#customizing-the-container-scanning-settings
sast:
  stage: test
include:
  - template: Auto-DevOps.gitlab-ci.yml
